.container {
    width: min(90%, 100vw);
    margin-inline: auto;
}

.place-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

body {
    margin: 0;
    font-family: monospace;
}

.section-margin {
    margin: 1rem;
}

.section-title {
    font-size: 50px;
    font-weight: bold;
}

.board {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 2px;
}

.board--cell {
    width: 100%;
    height: 100%;
    background-color: rgb(250, 168, 229);
    border: 2px solid black;
}

.margin-t {
    margin-top: max(5vh, 1rem);
}